<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section id="main-header-top-bar">
            <div id="headerFlex">
                <section id="seccLogo">
                    <a href="/"><img id="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
                </section>
                <section id="seccBusqueda">
                    <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
                    <a href="#" id="botonLupa"><i class="fas fa-search"></i></a>
                </section>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <nav class="navFlex">
            <ul class="lista1flex">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="lista2flex">
                <li><a href="/register">Creá tu cuenta</a><i id="iconos" class="far fa-id-card"></i></li> 
                <li><a href="/login">Ingresá</a><i id="iconos" class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i id="iconos" class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
                    <i class="fas fa-bars"></i>
               </div>
        
    </header>
    <img id="banner" src="/images/img-home-banner.jpg" alt="banner">
    <main>
        <h1 class="titulos-main">Basado en tu última visita</h1>
        <section class="articulos">
            
            <article class="main-art">
                <img class="img-producto" src="/images/img-cafetera-moulinex.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-macbook-pro-2019.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones">MacBook Pro 2019</p> 
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-tv-samsung-smart.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones">SmarTV Samsung 43''</p>
                </div>
            </article>
        </section>
        <h1 class="titulos-main">Ofertas</h1>
        <section class="articulos">
            
            <article class="main-art">
                <img class="img-producto" src="/images/img-cafetera-moulinex.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-macbook-pro-2019.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="main-art">
                <img class="img-producto" src="/images/img-tv-samsung-smart.jpg"/>
                <div class="info-art">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones">SmarTV Samsung 43''</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="iconos">
                <i class="fas fa-credit-card"></i>
            </div>
            <h4 class="tit-footer">Pagá con tarjeta o en efectivo</h4>
            <p class="cuerpos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="iconos">
                <i class="fas fa-gift"></i>
            </div>
            <h4 class="tit-footer">Envío gratis desde $ 2.500</h4>
            <p class="cuerpos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconos">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4 class="tit-footer">Seguridad, de principio a fin</h4>
            <p class="cuerpos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
        </section>

    </footer>
    
</body>
</html>