@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto';
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

/* Header */
header {
    background-color: #EAC926;
    color: #000000;
    padding: 0.5rem 1rem 1rem 1rem;
    /* position: fixed;
    top: 0px;
    width: 100%; */
}

header p {
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #222222;
    display: inline-block;
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}

nav {display: none;}

nav li {margin: 0 5px;}

.burger-menu {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 40px;
    text-align: center;
    border-radius: 15%;
    padding: 10px 0;
    margin: auto;
    margin-top: 1rem;
}

.fa-bars {font-size: 20px;}

#headerFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#seccLogo {
    padding: 0.5rem 0.8rem 0.5rem 0;
    width: 50%;
}

#logo {width: 100%;}

#seccBusqueda {
    text-align: left;
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

}

#barraBusqueda {
    width: 100%;
    height: 2.2rem;
    border: none;
    border-radius: 4px 0 0 4px;
    ;
    padding-left: 0.5rem;
    background-color: #ffffff;
}

.fas.fa-search {
    color: grey;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

#botonLupa {
    background-color: #ffffff;
    border-left: 1px solid #ebebeb;
    border-radius: 0 4px 4px 0;
    align-self: stretch;
}


.navFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista1flex{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    list-style: none;
}
.lista2flex{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    list-style: none;
}
#banner{
    width: 100%;
}
/* Main */
main{
    background-color: var(--grisClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.fas.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    }
.info-art{
    display: flex;
    flex-wrap: nowrap;
}
.titulos-main{
    text-align: left;
    font-size: 24px;
}
.main-art{
    border: 1px solid var(--grisClaro);
    background-color: white;
    margin-top: 10px;
    padding: 15px;
}
.precios{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 5px;
}
.descuentos{
    color: var(--verde);
    margin-top: 0%;
    font-size: 16px;
}
.descripciones{
    display: none;
    font-size: 16px;
    color: var(--grisOscuro);
}

.img-producto{
    width: 100%;
    box-shadow: 0 2px 3px -1px rgb(0 0 0 / 10%);

}
/* Footer */

footer {
    text-align: center;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}

footer section {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer i {
    color: #1259c3;
    font-size: 2rem;
    margin-bottom: 10px;
}

.tit-footer{
    font-weight: bold;
    margin: 0px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#copyright {
    font-size: 14px;
    font-weight: lighter;
    margin: 1.5rem 1rem 0.5rem 1rem;

}


/* Tablet */
@media (min-width: 361px){
    .navFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lista1flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .lista2flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .burger-menu{
        display: none;
    }
    .img-producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .info-art{
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripciones{
        display: block;
    }
   
}

/* Computadora */
@media (min-width: 769px){}